<form class="ui large form segment">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">


        <form submit="addQuote(quote.value)">

          <div class="form-group">
            <label for="title">Author:</label>
            <input name="title" #newtitle>
          </div>
          <br>

          <div class="field">
            <label for="link">Quote:</label>
            <input name="Quote" #newlink>
          </div>
          <br>
          <button (click)="onClick()" class="ui positive right floated button">Submit Quote</button>

        </form>
      </div>
    </div>
  </div>
</form>
<div class="ui grid posts">
  <app-quotess>
  </app-quotess>
</div>