<div class="container-fluid">
  <div class="row">
    <form (ngSubmit)='submitQuote()'>

      <!-- Name Form -->
      <div class="form-group">
        <label for="name">Author</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="newQuote.author" name="name" #name="ngModel">
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">


        </div>
      </div>
      <br>

      <div class="form-group">
        <label for="description">Quote</label>
        <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.quote" name="description" #description="ngModel"></textarea>
        <div [hidden]="description.valid || description.pristine" class="alert alert-danger">


        </div>

      </div>
      <br>

      <button type="Submit" class="btn btn-success btn-lg">Add Quote</button>
    </form>
  </div>
</div>